.container {
    width: 1200px;
    margin: 0 auto;
}

.header {
    background: #1a1a1ae8;
    color: whitesmoke;
    border-radius: 15px;
    height: 550px;
}

img {
    width: 55px;;
    border-radius: 10px;
}

.gif {
    width: 400px;

}
img:hover;

}

header a {
    color: whitesmoke;

}

.menu {
    margin-left: 510px;
    display: flex;
    justify-content: center;
    align-self: center;
}

.header_button1 {
    background-color: #2a2d30;
 

    border-width: 3px;
    border-style: double;
    border-radius: 15px;
    border-color: whitesmoke;
    font-family: 'Arial Black', sans-serif;
    font-size: 23px;
    color: whitesmoke;
    letter-spacing: 0.1em;
    tew\text-transform: uppercase;
    width: 230px;
    height: 60px;
    background-size: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.header_button1:hover {
     transition: 0.3s;
     background-color: whitesmoke;
     color: #2a2d30;
}

.menu li a {
    tew\text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Arial Black', sans-serif;
    margin: 0;
    letter-spacing: 0.1em;
    padding: 3px;
    background: skyblue;
    box-shadow:0px 0px 15px skyblue ;
    border-width: 0px;
    border-style: double;
    border-color: whitesmoke;
    border-radius: 10px;
    background-size: 100px;
    width: 130px;
    height: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu li a:hover {
    background: #ff8b0f;
    box-shadow: 0px 0px 20px #ff8b0f;
    transition: 0.5s;
    border-radius: 10px;

}

.menu li {
    margin-right: 50px;
    display: flex;
}

.nav {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.icon {
    margin-right: 70px;
    border-radius: 15px;
}

.law {
    font-family: 'Arial Black', sans-serif;
}

.offer {
     text-transform: uppercase;
     padding: 20px;
     border-radius: 15px;
     background: url('cs3.jpg') no-repeat center top / cover;
    
     height: 450px;
}

.offer h1 {
    font-size: 35px;

    width: 305px;
    height: 100px;
    border-color: whitesmoke;
    padding-top: 50px;
    border-radius: 25px;
    background: ;
    align-items: center;

    border-width: 0px 0px 0px 0px;
    border-style: solid ;
    border-color: whitesmoke;

    padding-left: 100px;
    padding-top: 15px;
    margin-top: 25px;

}

.text {
    font-family:'Arial Black', sans-serif;
    font-size: 17px;
    text-indent: 20px;
    padding-left: 35px;
    padding-right: 35px;
    margin-top: 10px;
    box-sizing: border-box;

    display:flex;
    justify-content: center;
    border-width: 0px;
}

#square {
    width: 400px;
    height: 100%;
    border-radius: 15px;
    padding-left: 1px;
    padding: auto;
    margin-bottom: 20px;
    margin-left: 70px;
    padding-top: -10px;
    border-width: 0px;
    border-style: solid ;
    border-color: whitesmoke;
    background: ;
}

u li a:hover {
    background: orange;
    color: orange;
}

.infa {
    border-radius: 20px;
    box-shadow: ;
    color: rgb(77, 77, 77);
    padding: 10px;
    font-size: 1px;

 /*   text-shadow: 0px 0px 10px #4d4d4d;*/
    margin-top: 100px;
    padding-left: 50px;
    margin-bottom: 50px;
    border-width: 0px;
    border-style: solid ;
    border-color: #d4c8ca;
    font-size: 25px;
    background: whitesmoke;

    display: flex;
    justify-self: center;

     box-shadow: 0px 0px 5px #4d4d4d;

}

h2 {
    font-family:'Arial Black', sans-serif;
    color: #1a1a1a;
}

h3 {
    font-size: 23px;
}
.text1 {
    background:#1a1a1a;
    border-radius: 15px;
    height: 270px;
    width: 1170px;
    margin-bottom: 50px;

    border-width: ;
    border-style: double;
    border-color: #1a1a1a;
    box-shadow: 0px 0px 15px #1a1a1a;
}

.menu2 {
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-self: center;
    padding-top: 50px;
    margin-top: 50px;
    .sections_box 
    display: flex;
    justify-content: space-around;
    font-family: 'Arial Black', sans-serif;
    padding: 0;
    border: none;
    background: none;
    color:rgb(0, 0, 0);
    font-size:20px;
    padding-left: 20px;
    padding-right: 20px;
    height: 50px;
    width: 230px;

    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    margin: 100px;
    width: 300px;
    margin-left: 440px;
    padding-right: 25px;
    text-align: center;
}

.menu2 li a {
    tew\text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 0.1em;
    padding: 5px 5px 5px 5px;
    border-spacing: 50px;
    tew\text-transform: uppercase;
    text-decoration: none;
    font-size: 25px;
    letter-spacing: 0.1em;
    padding: 5px 5px 5px 5px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #4d4d4d;
    border-radius: 15px;
    margin-top: 25px;
    margin-left: 30px;
    color: whitesmoke;
    background-color: #2a2d30;
    color: whitesmoke;
    font-family: 'Arial Black', sans-serif;
    box-shadow: 0px 0px 10px #1b1b1b;
    width: 300px;

    align-items: center;
}

.menu2 li a:hover {
    background-color: whitesmoke;
    color: #1b1b1b;
    box-shadow: 0px 0px 10px  #1b1b1b;
    transition: 0.3s;
    border-color: ;
}

.menu2 li {
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: #4d4d4d;
}

.zad {
    color: whitesmoke;
    font-size: 23px;
    margin-left: center;
    background-color: #1b1b1b;

    display: flex;
    justify-self: center;
}

.test1{
    background-color: #1f1f1f;
    font-size: 20px;
    width: 300px;
    border-radius: 28px;
    box-shadow: 0 5px 30px rgba(0,0,0,0.2);

    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;

    box-shadow:0px 0px 10px #1f1f1f;
    border-width: 0px;
    border-style: double;
}

.test_button {
    background-color:#1b1b1b;
    color: whitesmoke;
    font-family: 'Arial Black', sans-serif;
    padding: 16px;
    padding-right: 60px;
    font-size: 20px;
    border: none;
    width: 185px;

    box-shadow:0px 0px 10px #1b1b1b;
    border-width: 0px;
    border-style: double;
    border-radius: 20px;

    display: flex;
    justify-content:flex-end;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

.sections_box {
    display: flex;
    justify-content: space-around;
}

.sectionsname {
    font-family:'Arial Black', sans-serif;
    font-size: 19px;
    margin-top: 40px;

    display:flex;
    justify-content: center;
}

.footer {
    width: 1135px;
    height: 230px;
    margin: auto;
    background-color: #2a2d30;
    padding: 20px;
    box-sizing: border-box;
    vertical-align: middle;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}

footer {
    background-color: #2a2d30;
    border-width: 5px;
    border-style: double;
    border-color: #4d4d4d;
    box-shadow: 0px 0px 20px #2a2d30;
    border-radius: 15px;
}

.creators {
    font-size: 13px;
    margin-left: 380px;
}

.socialnetworks {
    font-size: 13px;
}

.logotextt2 {
    display: flex;
    vertical-align: center;
    align-items: center;
}

.creators {
    font-size: 13px;
    margin-left: 380px;
    font-family:'Arial Black', sans-serif;
    color: whitesmoke;
}

.socialnetworks {
    font-size: 13px;
    font-family:'Arial Black', sans-serif;
    color: whitesmoke;
}

.logotextt2 {
    display: flex;
    vertical-align: center;
    align-items: center;
}

.creatorsfont {
    font-size: 20px;
}

.socialnetworksfont {
    font-size: 20px;
    font-family:'Arial Black', sans-serif;
    color: whitesmoke;

    display: flex;
    align-items: center;
}

.textt2 {
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 10px;
    font-size: 30px;
    color: whitesmoke;
}

.table {
    color: whitesmoke;
    font-size: 23px;
    margin-left: px;
    display: flex;
    justify-self: center;
    border-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0px 0px 20px #79a0c1;
}

.td {
    padding-left: 15px;
    width: 500px;
    height: 50px;
    padding: 10px;
}

.infa1 {
    border-radius: 15px;
    color: black;
    padding: 5px;
    padding-left: 20px;
    margin-bottom: 25px; 

}

.zad1 {
    color: whitesmoke;
    font-size: 23px;
    margin-left: 390px;
    display: flex;
    justify-self: center;
}

@media screen and (max-width: 576px) and (max-height:  300px) {
    h1 {
        background: ;
    }

    .offer {
        margin: auto;
    }

    .header {
        margin: auto;
    }

    .container {
        margin: auto;
    }
}

@media screen and (max-width: 1080px) {
    .infa {
        font-size: 15px;
        max-width: 100%;
    }

    .offer {
        font-size: 15px;
        max-width: 100%;
        margin: auto;
    }

    .tetx1 {
        font-size: 15px;
        max-width: 100%;
    }

    body {
        font-size: 15px;
        max-width: 100%;
        width: 100%;
    }
}

.content-container {
    display: flex;
    max-width: 800px;
    margin: 50px auto;
}

.text3 {
    flex: 1;
    padding: 20px;
}

.image1 {
    flex: 1;
    padding-left: 100px;
}

.image1 img {
    width: 100px;
   }
